<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/simple']" routerLinkActive="active">
      Simple reactive form
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/custom']" routerLinkActive="active">
      Custom validations in reactive forms
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/crossField']" routerLinkActive="active">
      Cross field validations in reactive forms
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/crossField']" routerLinkActive="active">
      Conditional field validations in reactive forms
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/cva']" routerLinkActive="active">
      Reactive form cva
    </a>
  </li>
</ul>

<router-outlet></router-outlet>
